.cens {
    font-family: Arial, sans-serif;
}

.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: left;
    z-index: 1;
}

.descripcion {
    padding: 40px;
    background-color: #ddf4b4;
}

.descripcion h2 {
    font-size: 2em;
    color: #333;
}

.descripcion p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
}

.objetivos {
    padding: 20px;
    background-color: #e9f5e9;
}

.objetivos h3 {
    font-size: 1.5em;
    color: #4caf50;
}

.objetivos ul {
    list-style-type: none;
    padding: 0;
}

.objetivos li {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.metodologia {
    padding: 20px;
    background-color: #fff;
}

.metodologia h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.metodologia p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
}

.contacto {
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
}

.contacto h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contacto p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

.btn-contacto {
    background-color: #4caf50;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-contacto:hover {
    background-color: #45a049;
}

.btn-home a{
    text-decoration: none;
    color: inherit;
}

.btn-home {
    background-color: #4caf50;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-home :hover {
    background-color: #45a049;
}   