.header {
    background-color: #cdc39e;
    text-align: left;
    padding: 20px 0;
    position: relative;
    margin: auto;
    font-size: 0.9em;
}
.header h1{
    margin-bottom: 0;
    font-size: 30px;
    color: #7d6937;
}
.header p{
    margin-top: 0;
    font-size: 17px;
    color: #8c7b4f;
}
.logo {
    padding-left: 20px;
    margin-right: 10px;
    width: 90px;
    float: left;
}